{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <p>Bienvenue dans votre tableau de bord Symfony + SB Admin.</p>
</div>
{% endblock %}
